.all{
    display: grid;
    grid-template-rows: 1fr 5fr 3fr;
    gap: 2px;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.header{
    grid: 1;
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 3px;
    background-color: black;
}
.container1{
    grid-row: 1;
    display: flex;
}
.container1 a{
    text-decoration: none;
    float: right;
}
.container1 div{
    margin-left: 20px;
    font-weight: bold;
    
}
.navigation{
    grid-row: 2;
    display: flex;
    justify-content: right;
    margin-right: 50px;
}
.navigation a{
    display: block;
    border: 1px solid black;
    border-radius: 2em;
    padding: 0.2em;
    margin: 0.3em;
    background-color: black;
    text-decoration: none;
    float: right;
}
.navigation a:hover{
    background-color: red;
}
.navigation a:active{
    background-color: red;
}
body{
    border: 1px solid white;
    margin: 0;
}

.body{
    grid: 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}
.desc{
    grid-row: 1;
    grid-column: 1;
}
.list{
    grid-row: 2;
    grid-column: 1;
}
.table{
    grid-row: 1/span 3;
    grid-column: 2;
    padding-right: 50px;
}
.table table,th,td{
    border: 1px solid;
    border-collapse: collapse;
    padding: 20px;
    background-color: aliceblue;
}


.footer{
    grid: 3;
    display: grid;
    grid-template-rows: 2fr 5fr;
    gap: 2px;
    color: white;
    background-color: black;
}
.intro{
    grid-row: 1;
    font-weight: bold;
    font-size: 25px;
}
.contact{
    grid-row: 2;
    display: flex;
}
#box-1{
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 2px;
}
#box-11{
    grid-row: 1;
}
#box-2{
    flex: 1;
    display: grid;
    grid-template-rows:  1fr 2fr;
    gap: 2px;
}
#box-21{
    grid-row: 1;
}
#box-3{
    flex: 1.5;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 2px;
}
#box-31{
    grid-row: 1;
}
#box-32{
    grid-row: 2;
    display: flex;
}
#div1{
    flex: 1;
}
#div2{
    flex: 1;
}
a:link{
    color: #9e9eff;
}
a:hover{
    color: yellow;
}
a:active{
    color: cyan;
}
a:visited{
    color: magenta;
}
